<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="palacesoft.lostundertheshade"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="palacesoft.eclipseoftime.StartUpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.MenuScreen"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.SetupScreen"
            android:label="@string/title_activity_setup_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.GameScreen"
            android:label="@string/title_activity_game_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.DefeatScreen"
            android:label="@string/title_activity_defeat_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.DomesticScreen"
            android:label="@string/title_activity_domestic_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.MilitaryScreen"
            android:label="@string/title_activity_military_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.PlotScreen"
            android:label="@string/title_activity_plot_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.PoliticsScreen"
            android:label="@string/title_activity_politics_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.ReligiousScreen"
            android:label="@string/title_activity_religious_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.TreasuryScreen"
            android:label="@string/title_activity_treasury_screen" >
        </activity>
        <activity
            android:name="palacesoft.eclipseoftime.WinScreen"
            android:label="@string/title_activity_win_screen" >
        </activity>
    </application>

</manifest>